html{
    background-color:beige;
    width:80%
}
header{
    background-color:lawngreen;
    padding: 14px 16px;
    padding:20px;
}
nav ul{
    float:left;
    display:inline block;
    text-decoration: navy;
    
}
li{
    float:right;
    text-decoration: none;
    te


}